/* Базові стилі для тексту */
body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}
.vraper {
    width: 906px;
    margin: 0 auto;
}
/* Шапка сайту */
.header {
    height: 182px;
    padding-top: 71px;
}
.header_nav {
    margin: 0 auto;
    width: 555px;
}
.header_nav-list {
    list-style: none;
}
.header_nav-list > li{
    display: inline-block;
}
/* видалення зайвих відступів між лементами inline-block */
.header_nav-list > li:not(:first-child) {
    margin-left: -4px;
}
.header_nav-list > li:not(:last-child) {
    margin-right:100px ;
}
.header_nav-list > li > a  {
    color: #7D7D7D;
    text-decoration: none;
}
.header_nav-list > li > a:hover {
    color: #03A9F4;
}
/* основна частина сайту */
.card-categori {
    font-family: 'Ubuntu';
    font-weight: 300;
    line-height: 16px;
    color: #B4AD9E;
}
.card {
    display: inline-block;
    width: 420px;
    margin-right: 65px;
    margin-bottom:130px ;
}
/* gприбрали нижній відступ в двох останіх картках */
.card:nth-last-child(-n + 2){
    margin-bottom: 0;
}
/* прибрали зайві відступи в inline елементів та прибираємо правий відступ в кожної другої картинки */
.card:nth-child(2n) {
    margin-left: -4px;
    margin-right: 0
}
.card-img{
    margin-bottom: 32px;
}
.card-categori{
    display: block;
    margin-bottom: 32px;
}
.card-tytle {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
}
.main-button {
    display: block;
    margin: 90px auto 0;
    height: 60px;
    width: 165px;
    background-color: white;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;

}
